body {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__top {
  position: fixed;
  width: 100%;
  background-color: black;
  color: #fff;
  z-index: 999;
}
.text__container .header__button{
  visibility: hidden;
}
.logosmall{
  display: none;
}










@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
vertical-align: center;
text-align: center;
}

html, body {
margin: 0;
height: 100%;
}

* {
font-family: "Raleway";
box-sizing: border-box;
}

.top-nav {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
background-color: #00BAF0;
background: linear-gradient(to left, #f46b45, #eea849);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #FFF;
height: 50px;
padding: 1em;
}

.menu {
display: flex;
flex-direction: row;
list-style-type: none;
margin: 0;
padding: 0;
}

.menu > li {
margin: 0 1rem;
overflow: hidden;
}

.header__top-logo{
  padding-right: 63px;
}

.menu-button-container {
display: none;
height: 100%;
width: 30px;
cursor: pointer;
flex-direction: column;
justify-content: center;
align-items: center;
}

#menu-toggle {
display: none;
}

.header__menu-item_active{
color: orangered;
}

.menu-button,
.menu-button::before,
.menu-button::after {
display: block;
background-color: #fff;
position: absolute;
height: 4px;
width: 30px;
transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
border-radius: 2px;
}

.menu-button::before {
content: '';
margin-top: -8px;
}

.menu-button::after {
content: '';
margin-top: 8px;
}
.menu-button
{
  margin-left: 535px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
margin-top: 0px;
transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
margin-top: 0px;
transform: rotate(-405deg);
}

@media (max-width: 640px) {
.menu-button-container {
  display: flex;
}
.menu {
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
#menu-toggle:checked ~ .menu li {
  border: 1px solid #333;
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu > li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: white;
  background-color: #222;
}
.menu > li:not(:last-child) {
  border-bottom: 1px solid #444;
}
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}
.closeIcon {
  display: none;
}
.showMenu {
  transform: translateY(0);
}

.header__top-inner {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 63px;
}
.header__menu-item:not(:last-child) {
  margin-right: 58px;
}
.header__menu-link {
  color: #fff;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.header__menu-item.active .header__menu-link {
  color: #fe9013;
  margin-left: 63px;
}
a{
  text-decoration: none;
}
.header__bottom {
  background-image: url("./assets/img/Giant\ Panda.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 80px;
}
.header__bottom-inner {
  display: flex;
  justify-content: flex-end;
}
.header__inner-content {
  margin-bottom: 100px;
  width: 574px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__inner-text {
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(114deg, #f9804b 1.49%, #fe9013 101.44%);
  color: #fff;
  text-align: center;
  font-size: 106.496px;
  font-style: normal;
  font-weight: 700;
  line-height: 75%; 
  text-transform: uppercase;
  position: relative;
  margin-bottom: 60px;
}
.header__inner-text span {
  color: #ffee2e;
  font-size: 106.496px;
  font-style: normal;
}
.header__inner-text p {
  position: absolute;
  top: 74px;
  left: 74px;
}
.header__button {
  align-self: center;
  color: #fff;
  display: flex;
  width: 298px;
  height: 54px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: linear-gradient(114deg, #f9804b 1.49%, #fe9013 101.44%);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; 
  text-transform: uppercase;
}

.samurai__container{
  display: flex;
}

.samurai__container .man__picture{
  width: 609px;
  height: 403px;
  flex-shrink: 0;
  margin-left: 5px;
  background-image: url(./assets/img/bamboo-cap.png);
  background-size: cover;
  margin-top: 140px;
  margin-bottom: 180px;

}
.samurai__container .backstage__title{
  margin-left: 87px;
  margin-top: 140px;
  width: 465px;
  color: #333B41;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 
}
.samurai__container .backstage__title .subtitle{
  width: 465px;
  color: #333B41;
  margin-top: 20px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; 
}
.samurai__container .howitworks__title{
  margin-left: 87px;
  margin-top: 54px;
  color: #333B41;
  width: 217px;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 
}
.samurai__container .howitworks__title .subtitle{
  width: 465px;
  color: #333B41;
  margin-top: 34px;
  height: 105px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; 
}
.flower__picture {
width: 204px;
height: 605px;
position: absolute;
margin-top: 12px;
background-repeat: no-repeat;
background-size: contain;
background-image: url(./assets/img/flower_foto1.png);
right: 0; 
}
.gradient{
background: var(--orange_gradient, linear-gradient(316deg, rgba(254, 210, 144, 0.70) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.70) 106.36%), linear-gradient(316deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(316deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%));
padding-top: 69px;
padding-bottom: 50px;


}
.container .gradient__container{
border-radius: 20px;
background: var(--frosted_glass_white, rgba(253, 253, 255, 0.52));
backdrop-filter: blur(2px);
display: flex;
flex-direction: column;

}
.container .gradient__container .container__title{
margin: 0 auto;
margin-top: 41px;
color: #FE9013;
text-align: center;
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 120%;
}
.container .gradient__container .container__subtitle{
margin: 0 auto;
margin-top: 20px;
color: #333B41;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 120%; 
}
.container .gradient__container .covid__title{
margin: 0 auto;
margin-top: 20px;
width: 813px;
color: #333B41;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 130%;
}
.container .gradient__container .support-fund_title{
width: 823px;
margin: 0 auto;
margin-top: 10px;
color: #333B41;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%; 
}

.container .gradient__container .howit__container{
display: flex;
flex-direction: column;
}

.container .gradient__container .howit__container .title{
margin: 0 auto;
margin-top: 40px;
color: #333B41;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 130%; 
}

.container .gradient__container .howit__container .widjets{
display: flex;
margin: 0 auto;
margin-top: 44px;
}
.container .gradient__container .howit__container .widjet_background{
width: 168px;
height: 168px;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid var(--orange, #F9804B);
background: #FFF;
}

.container .gradient__container .howit__container .widjet1 .widjet__picture{
width: 168px;
height: 168px;
flex-shrink: 0;
background-image: url(./assets/img/pay.svg);
background-size: 70%;
background-repeat: no-repeat;
background-position: center;
} 
.container .gradient__container .howit__container .widjet1{
width: 168px;
height: 244px;
}
.container .gradient__container .howit__container .widjet1 .widjet__title{
margin-top: 30px;
color: #333B41;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
}
.container .gradient__container .howit__container .widjet2 .widjet__picture{
width: 168px;
height: 168px;
flex-shrink: 0;
background-image: url(./assets/img/zoo.svg);
background-size: 60%;
background-repeat: no-repeat;
background-position: center;
} 
.container .gradient__container .howit__container .widjet2{
width: 168px;
height: 244px;
}
.container .gradient__container .howit__container .widjet2 .widjet__title{
margin-top: 30px;
color: #333B41;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
width: 168px;
height: 46px;
flex-shrink: 0;

}
.container .gradient__container .howit__container .widjet3 .widjet__picture{
width: 168px;
height: 168px;
flex-shrink: 0;
background-image: url(./assets/img/monkey.svg);
background-size: 70%;
background-repeat: no-repeat;
background-position: center;
} 
.container .gradient__container .howit__container .widjet3{
width: 168px;
height: 244px;  
}
.container .gradient__container .howit__container .widjet3 .widjet__title{
margin-top: 30px;
color: #333B41;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
width: 168px;
height: 244px;
flex-shrink: 0;
}
.small-arrow
{display: none;}
.container .gradient__container .howit__container .arrow{
width: 69px;
height: 35px;
margin-left: 31px;
margin-right: 30px;
margin-top: 61px;
flex-shrink: 0;
background-image: url(./assets/img/Vector.svg);
background-size: 100%;
background-repeat: no-repeat;
background-position: center;
}

.footer__subscribe-text{
  color: rgb(255, 255, 255);
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0;
}
.footer__input-field{
  width: 228px;
  height: 42px;
  border-radius: 2px;
  border: solid 1px rgb(254, 143, 24);
  background-color: transparent;
  color: rgb(189, 189, 189);
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  padding-left: 10px;
}
.footer__input-result{
  margin-top: 10px;
  display: none;
}
.footer__input-button{
  border: 1px solid rgb(51, 59, 65);
  border-radius: 5px;
  background: rgb(241, 243, 242);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0;
  text-align: center;
  width: 129px;
  height: 42px;
}

.feed__button {
align-self: center;
color: #fff;
display: flex;
width: 298px;
height: 54px;
justify-content: center;
align-items: center;
border-radius: 25px;
margin-top: 86px;
background: linear-gradient(114deg, #f9804b 1.49%, #fe9013 101.44%);
color: #fff;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; 
text-transform: uppercase;
margin-bottom: 50px;
}

.footer {
background: black;
padding-top: 41px;
}

.footer .container .footer-inner {
display: flex;
justify-content: space-between;
align-items: flex-start; 
}

.footer .container .footer-inner .logo-container {
flex-shrink: 0;
}


.footer .container .footer-inner .form-and-donate {
display: flex;
flex-direction: column;
align-items: flex-end;
}

.footer .container .footer-news-subscribe .form {
display: flex;
align-items: center;
}
.footer .container .footer-news-subscribe .title{
color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
margin-bottom: 14px;
}
.footer .container .footer-news-subscribe .form input {
width: 228px;
height: 42px;
background-color: black;
border-radius: 2px;
border: 0.7px solid var(--orange, #F9804B);
color: var(--Gray-4, #BDBDBD);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
margin-right: 10px;
}

.footer .container .footer-news-subscribe .form .submit__button {
width: 129px;
height: 42px;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid var(--Green, #4B9200);
background: var(--gray_light, #F1F3F2);
display: flex;
color: var(--Green, #4B9200);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
justify-content: center;
align-items: center;
}

.footer .container .footer-inner .designedby{
color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 16px;
font-weight: 250;
line-height: 130%;
letter-spacing: 0%;
text-align: left;
margin-top: 216px;
}

.footer .container .footer-inner .donate__button {
width: 298px;
height: 54px;
border-radius: 5px;
display: flex;
color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 140%;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
background: linear-gradient(121.04);
margin-top: 68px; 
border-radius: 5px;
background: linear-gradient(121.04deg, rgb(249, 128, 75) -4.058%,rgb(254, 144, 19) 108.987%);
justify-content: center;
align-items: center;
}

.footer .container .footer-inner .social-network_container{
margin-top: 34px;
display: flex;
flex-direction: column;
}
.footer .container .footer-inner .social-network_container .icon{
margin-top: 10px;
background: rgba(196, 196, 196, 0.5);
width: 26px;
height: 26px;
border-radius: 20px;
background-repeat: no-repeat;
background-position: center;

}
.footer .container .footer-inner .social-network_container .facebook__button .icon {
background-image: url(./assets/img/facebook-icon.png);
}
.footer .container .footer-inner .social-network_container .twitter__button .icon {
background-image: url(./assets/img/twitter-icon.png);
}
.footer .container .footer-inner .social-network_container .instagram__button .icon {
background-image: url(./assets/img/inst-icon.png);
}
.footer .container .footer-inner .social-network_container .youtube__button .icon {
background-image: url(./assets/img/youtube-icon.png);
}
.footer .container .footer-inner .social-network_container .title{
color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
margin-left: 38px;  
width: 73px;
height: 22px;
left: 38px;
right: -1px;
top: 3px;
bottom: 1px;
}

.footer .container .footer-inner .social-network_container .header__menu-list{
display: flex;
flex-direction: row;
margin-left: 298px;
padding-bottom: 50px;
}

.about{
background: white;
}
.container-backstage{
margin-top: 140px;
margin-bottom: 180px;
display: flex;
}
img {
max-height: 403px;
object-fit: contain;
}
.about__backstage-content{
max-width: 465px;
margin-left: 87px;
}
.about__backstage-content-text{
color: #333B41;
font-size: 16px;
}
.about__backstage-content-text:last-child{
line-height: 140%; /* 22.4px */
}
.about__backstage-content-text:first-child{
line-height: 130%; /* 22.4px */
}
.about__backstage-content-title{
margin-bottom: 20px;
}
.about__backstage-content-text:not(:last-child){
margin-bottom: 54px;
}
.about__backstage-content-subtitle{
margin-bottom: 34px;
}
.about__cards{
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 80px;

}
.container-cards{
display: flex;
}
.about__button-cards{
width: 62px;
height: 62px;
padding: 0;
background: none;
border: none;
}
.about__card{
width: 370px !important;
border-radius: 5px;
border: 2px solid #FA6F32;
}
.about__button-cards img{
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
.about__button-cards-next img{
transform: scaleX(-100%);
}
.about__button-cards-prev{
margin-right: 20px;
}
.about__card-info{
margin: 8px 8px 14px 16px;
display: flex;
}
.about__card-text{
width: 294px;
}
.about__card-image{
border-radius: 3px;
}
.about__card-title{
color: #000;

font-size: 16px;
font-weight: 600;
line-height: 140%; /* 22.4px */
text-transform: uppercase;

}
.about__card-subtitle{
color: #000;
font-size: 15px;
font-weight: 300;
line-height: 120%; /* 18px */
}
.about__card-glyph img{
width: 40px;
height: 40px;
}
.about__button{
width: 298px;
height: 54px;
border-radius: 25px;
border: none;
color: white;
margin: 0 auto 100px;
display: block;
text-align: center;
font-size: 16px;
font-weight: 600;
line-height: 140%;
text-transform: uppercase;
background: #FE9013;
}
.about{
position: relative;
overflow: hidden;

}
.about__flower{
position: absolute;
background-size: cover;
margin-top: 140px;

}
.about__flower:nth-child(1){
background-image: url(./assets/img/flower1.png);
width: 368px;
height: 275px;
right: 0;
bottom: -100px;
transform: scaleX(-100%);
}
.about__flower:nth-child(2){
background-image: url(./assets/img/flower2.png);
right: -98px;
top: -128px;
width: 293px;
height: 605px;
}
.about__flower:nth-child(3){
background-image: url(./assets/img/flower3.png);
width: 880px;
height: 460px;
left: -588px;
bottom: -100px;
}
.testimonial__image img{
border-radius: 50%;
}
.reviews{
position: relative;
overflow: hidden;
}
.testimonial__image{
margin-right: 10px;
}
.reviews__title{
color: rgb(51, 59, 65);
font-size: 36px;
line-height: 130%;
letter-spacing: 0;
margin-top: 140px;
margin-bottom: 47px;
text-align: center;
}
.testimonial{
padding: 15px;
color: black;
/* testimonials */
min-width: 238px;
height: 400px;
/* pink_gradient */
border-radius: 20px;

/* gray_light */
background: rgb(241, 243, 242);
}
.testimonal__header{
display: flex;
margin-bottom: 10px;
}
.testimonials{
gap: 29px;
padding-bottom: 21px;
display: flex;
flex: 1;
max-height: 575px;
overflow-x: scroll;

}
.testimonials::-webkit-scrollbar {
width: 100px; 
box-sizing: border-box;
border-radius: 5px;
background: rgb(245, 247, 246);
}

.testimonials::-webkit-scrollbar-thumb {
background-color: rgb(254, 144, 19); 
border-radius: 10px; 

}



.testimonial__date-and-location{
color: rgb(189, 189, 189);
font-size: 15px;
font-weight: 300;
line-height: 120%;
letter-spacing: 0;
}
.testimonial__text{
overflow: hidden;
color: rgb(118, 116, 116);
font-size: 15px;
font-weight: 300;
line-height: 120%;
letter-spacing: 0;
max-height: 309px;
}
.reviews__feedback{
margin-top: 30px;
color: white;
width: 298px;
height: 54px;
margin-bottom: 180px;
font-size: 16px;
font-weight: 500;
line-height: 140%;
letter-spacing: 0;
text-align: center;
border-radius: 5px;
border: none;
background: linear-gradient(121.04deg, rgb(249, 128, 75) -4.058%,rgb(254, 144, 19) 108.987%);
text-transform: uppercase;
}
.reviews__flower{
background-image: url(./assets/img/leav_foto.png);
width: 368px;
height: 275px;
right: -150px;
bottom: -30px;
transform: rotate(-10deg);
position: absolute;
background-size: cover;
}

li{
  list-style: none;
}
.body-scroll-lock {
  overflow: hidden;
}

.navbar{
  height: 70px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
.nav-menu{
  display: flex;
  padding-left: 100px;
}
.nav-branding{
  font-size: 2rem;
}

.nav-link{
  transition: 0.5s ease;
}
.nav-link:hover{
  color: orange;
}
.hamburger{
  display: none;
  cursor: pointer;
  background-color: transparent;
}
.bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: white;
}
.nav-item{
  padding: 0 1.5rem;
}
.navbar .logo{
  width: 82px;
  height: 52px;
  background-image: url(./assets/img/logo.PNG);
  background-repeat: no-repeat;
  background-size: cover;

}
a{
  color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
}
.nav-link_active{
  color: orange;
}